{% extends "base.html" %}

{% block content %}
    <div class="landing-container">
        <nav class="landing-nav-container">
            <div class="landinglogo"> 
                <div class="LogoLandingNav"></div>
            </div>
            <div class="nav-links">
                <a href="{{ url_for('main.login') }}" class="login-btn medium2">Login</a>
                <a href="{{ url_for('main.signup') }}" class="signup-btn medium2">Sign Up</a>
            </div>
        </nav>
        
        <section class="hero">
            <div class="hero-content">
                <h2 class="largeTitle">CREATE, MANAGE AND ANALYSE YOUR TOURNAMENTS.</h2>
                <p class="headline">All in one place. All for free.</p>
                <div class="hero-buttons">
                    <a href="{{ url_for('main.signup') }}" class="herobtn-base herobtn-signup medium1">Sign Up</a>
                    <a href="#types" class="herobtn-base herobtn-formats regular1">View Our Bracket Formats</a>
                </div>
            </div>
        </section>

        <section id="types" class="types-section">
            <h2 class="title1">OUR TOURNAMENT BRACKET FORMATS</h2>
            <p class="regular2">Choose from our selection of popular tournament types.</p>
        </section>
        <section class="typecards-section">
            {% include 'components/typecards.html' %}
        </section>
        <section id="types" class="types-section">
        </section>
    </div>
{% endblock %}