{% extends "base.html" %}

{% block content %}
    <nav class="landing-nav-container">
        <div class="landinglogo"> 
            <div class="LogoLandingNav"></div>
        </div>
        <div class="nav-links">
            <a href="{{ url_for('main.login') }}" class="login-btn medium2">Login</a>
            <a href="{{ url_for('main.signup') }}" class="signup-btn medium2">Sign Up</a>
        </div>
    </nav>
        <h1 class="title2 text-center mb-[2rem]">Login</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashes px-20 md:px-40 xl:px-60">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
        
    <form method="POST">
        <div class="login-form">
            <div class="TextForm w-3/5 sm:w-96">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="TextForm w-3/5 sm:w-96">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="SaveBtn mt-1">
                <button type="submit">Login</button>
            </div>
        </div>
    </form>
    
        
    <p class="medium4 text-center mt-[1.5rem] purple-text">Don't have an account? <a href="{{ url_for('main.signup') }}" class="white-text underline decoration-1 underline-offset-4 hover:no-underline hover:font-medium">Sign Up</a></p>
{% endblock %}