{% extends "base.html" %}
{% block content %}
    <nav class="landing-nav-container">
        <div class="landinglogo"> 
            <div class="LogoLandingNav"></div>
        </div>
        <div class="nav-links">
            <a href="{{ url_for('login') }}" class="login-btn medium2">Login</a>
            <a href="{{ url_for('signup') }}" class="signup-btn medium2">Sign Up</a>
        </div>
    </nav>
    <div class="signup-form">
        <h1 class="title2">Sign Up</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashes">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <div class="TextForm">
        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <div class="SaveBtn" style="margin-top: 1rem;">
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </div>
        <p class="medium4">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    </div>
{% endblock %}