{# components/admincards.html #}
{% for tourney in recent_tournaments %}
  <div class="statcard" data-tourney-id="{{ tourney.id }}">
    <div class="statcard-top-row">
      <p class="subheadline">1st</p>
      <div class="username-container">
        <p class="medium2 white-text">{{ tourney.standings[0].username }}</p>
      </div>
    </div>
    <div class="statcard-middle-row">
      <p class="subheadline">2nd</p>
      <p class="medium2 white-text">{{ tourney.standings[1].username }}</p>
    </div>
    <div class="statcard-bottom-row">
      <p class="subheadline">3rd</p>
      <p class="medium2 purple-text">{{ tourney.standings[2].username }}</p>
    </div>
    <div class="tournament-footer">
      <span class="regular3">{{ tourney.title }}</span>
      <a href="#" class="caption view-tourney" data-tourney-id="{{ tourney.id }}">View</a>
    </div>
  </div>
{% endfor %}