<!-- Navbar Component -->
<nav class="navbar-div">
    <div class="navbar-logo">
        <div class="LogoNavbar"></div>
    </div>
    
    <div class="navbar-menu">
      <a href="#" class="navbar-item">
        <div class="DashboardIcon"></div>
        <span class="medium3">Dashboard</span>
      </a>
      
      <a href="#" class="navbar-item">
        <div class="AnalyticsIcon"></div>
        <span class="medium3">Analytics</span>
      </a>
      
      <a href="#" class="navbar-item">
        <div class="RequestsIcon"></div>
        <span class="medium3">My Requests</span>
      </a>
      
      <a href="#" class="navbar-item">
        <div class="ProfileIcon"></div>
        <span class="medium3">My Account</span>
      </a>
    </div>
  </nav>