{% macro tournament_cards(tournaments, current_user) %}
<div class="statcard-container" id="adminStatcards">
  {% for t in tournaments %}
    <div class="statcard" 
         data-tourney-id="{{ t.id }}" 
         data-status="{{ t.status }}"
         data-creator="{{ 'true' if t.created_by == current_user.id else 'false' }}"
         data-player="{{ 'true' if t.is_player else 'false' }}">               
      <div class="statcard-top-row">
        <p class="subheadline">
          {{ t.current_round }} / {{ t.total_rounds }} Rounds
        </p>
      </div>
      <div class="statcard-middle-row">
        <p class="subheadline">
          {{ t.title }}
        </p>
      </div>
      <div class="tournament-footer">
        <span class="regular3">{{ t.format|title }}</span>
        {% if t.status == 'draft' %}
          <a href="{{ url_for('main.edit_tournament', tournament_id=t.id) }}" class="ViewBtn">View</a>
        {% else %}
          <a href="{{ url_for('main.view_tournament', tournament_id=t.id) }}" class="ViewBtn">View</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endmacro %}
