<div class="card-container">
    <!-- Swiss -->
    <div class="typecard swiss">
        <div class="card-image">
            <img src="/static/assets/SwissImg.svg" class="swissimg" alt="Swiss tournament format diagram">
        </div>
        <div class="card-content">
            <h2 class="title headline">Swiss</h2>
            <p class="paragraph regular3">Get paired against similar strength opponents each round based on cumulative scoring, with no rematches.</p>
        </div>
    </div>

    <!-- Round Robin -->
    <div class="typecard roundrobin">
        <div class="card-image">
            <img src="/static/assets/RoundRobinImg.svg" class="roundrobinimg" alt="Round Robin tournament format diagram">
        </div>
        <div class="card-content">
            <h2 class="title headline">Round Robin</h2>
            <p class="paragraph regular3">Face off against all participants, one at a time.</p>
        </div>
    </div>

    <!-- Single Elimination -->
    <div class="typecard singleelim">
        <div class="card-image">
            <img src="/static/assets/SingleElimImg.svg" class="singleelimimg" alt="Single Elimination tournament format diagram">
        </div>
        <div class="card-content">
            <h2 class="title headline">Single Elimination</h2>
            <p class="paragraph regular3">Immediate elimination after losing a match.</p>
        </div>
    </div>
</div>