@import url("icons.css");
@import url("typography.css");
@import url("colours.css");

html {
    scroll-behavior: smooth;
}

.app-container {
    display: flex;
    min-height: 100vh; /* Ensure it takes full viewport height */
}

/* Content styles - default (no navbar) */
.content {
    width: 100%;
    background-color: var(--background-shade1);
    color: var(--off-white);
}

/* Content styles - when navbar exists */
.app-container:has(.navbar-div) .content {
    margin-left: 17.438rem;
    width: calc(100% - 17.438rem);
}

/* NAVBAR STYLES */
.app-container > .navbar-div {
    display: flex;
    flex-direction: column;
    background-color: var(--background-shade2);
    color: var(--off-white);
    width: 17.438rem;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.688rem 6.438rem;
}
  
.navbar-menu {
    display: flex;
    flex-direction: column;
}

.navbar-item {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.0415rem 1.2rem 4rem;
    color: var(--off-white);
    text-decoration: none;
    font-size: 0.875rem;
  }
  
.navbar-item:hover {
    color: var(--primary-shade1);
    text-decoration: none;
}

.navbar-item.active {
    color: var(--primary-shade1);
    text-decoration: none;
}

.navbar-item > div {
    background-color: currentColor;
    margin-right: 1.05rem;
}

.navbar-logout-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 4rem;
}

/* temporary navbar logout button */
.navbar-logout{
    color: var(--off-white) !important;
    text-decoration: none !important;
    cursor: pointer;
}

.navbar-logout:hover{
    color: var(--primary-shade1) !important;
    text-decoration: none !important;
}

/* TYPECARD COMPONENT STYLES */
/* Container for 3 cards in a row */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
    padding: 2rem;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: var(--overlay-white);
    box-sizing: border-box;
}

/* Card base styling - shared across all cards */
.typecard {
    width: 25.5rem;
    border-radius: 10px;
    height: 29rem;
    background-color: var(--background-shade1);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 1.15rem;
    align-items: center;
    box-sizing: border-box;
}

.typecard:hover {
    transform: translateY(-5px);
}

/* Card image container */
.card-image {
    border-radius: 10px;
    background-color: var(--background-shade2);
    border: 1.5px solid var(--primary-shade1);
    box-sizing: border-box;
    height: 15rem;
    width: 20.063rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.9rem;
}

.card-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.25rem;
}

/* Content area styling */
.card-content {
    padding: 1.9rem 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    color: var(--off-white);
    margin: 0;
    text-align: left;
    width: 100%;
}

.paragraph {
    color: var(--primary-shade2);
    margin: 0;
    display: inline-block;
    height: 4.6rem;
    width: 100%;
    text-align: left;
}

.swissimg {
    width: 10.75rem;
    max-height: 100%;
    object-fit: cover;
}

.roundrobinimg {
    width: 10.875rem;
    max-height: 100%;
    object-fit: cover;
}

.singleelimimg {
    width: 14.25rem;
    max-height: 100%;
    object-fit: cover;
}

/* LANDING PAGE STYLES */
.landing-container{
    width: 100%;
}

.landing-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.9rem 5%;
    width: 100%;
}

.landinglogo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.nav-links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.login-btn {
    color: var(--off-white) !important;
    text-decoration: none;
    transition: color 0.3s ease;
    text-decoration: none !important;
}

.login-btn:hover {
    color: var(--primary-shade1) !important;
    text-decoration: none !important;
}

.signup-btn {
    display: inline-block;
    border-radius: 15px;
    background-color: var(--primary-shade1);
    padding: 0.75rem 1.312rem;
    color: var(--background-shade1) !important;
    transition: color 0.3s ease;
    text-decoration: none !important;
}

.signup-btn:hover {
    color: var(--off-white) !important;
    text-decoration: none !important;
}

.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.hero-content {
    max-width: 78.75rem;
}

.hero-content h2 {
    margin-top: 3rem;
    margin-bottom: 4.5rem;
}

.hero-content p {
    color: var(--primary-shade1);
    margin-bottom: 4.9rem;
}

.hero-buttons {
    display: flex;
    gap: 2.313rem;
}

.herobtn-base {
    display: inline-block;
    box-shadow: 6px 6px 25px #0e0e0e;
    border-radius: 20px;
    padding: 0.75rem 1.875rem;
    text-decoration: none;
  }
  
.herobtn-signup {
    background-color: var(--overlay-primary1);
    border: 2px solid var(--primary-shade1);
    color: var(--off-white) !important;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}

.herobtn-signup:hover {
    background-color: var(--overlay-primary2);
    text-decoration: none !important;
}
  
.herobtn-formats {
    background-color: var(--background-shade1);
    border: 1px solid var(--primary-shade1);
    color: var(--primary-shade1) !important;
    transition: border 0.3s ease;
    transition: color 0.3s ease;
    text-decoration: none !important;
}

.herobtn-formats:hover {
    border-color: var(--off-white);
    color: var(--off-white) !important;
    text-decoration: none !important;
}

/* Formats Section */
.types-section {
    background-color: var(--overlay-shade1);
    width: 100%;
    padding-bottom: 2.625rem;
}

.types-section h2 {
    padding: 3.875rem 4.375rem 0rem 4.375rem;
}

.types-section p {
    color: var(--primary-shade1);
    padding: 1.5rem 4.375rem 2.625rem 4.375rem;
}