@import url("icons.css");
@import url("typography.css");
@import url("colours.css");

html {
    scroll-behavior: smooth;
}

.app-container {
    display: flex;
    min-height: 100vh; /* Ensure it takes full viewport height */
}

/* Content styles - default (no navbar) */
.content {
    width: 100%;
    padding: 4.688rem 5rem;
    background-color: var(--background-shade1);
    color: var(--off-white);
}

/* Content styles - when navbar exists */
.app-container:has(.navbar-div) .content {
    margin-left: 17.438rem;
    width: calc(100% - 17.438rem);
}

.app-container > .navbar-div {
    display: flex;
    flex-direction: column;
    background-color: var(--background-shade2);
    color: var(--off-white);
    width: 17.438rem;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.688rem 6.438rem;
}
  
.navbar-menu {
    display: flex;
    flex-direction: column;
}

.navbar-item {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.0415rem 1.2rem 4rem;
    color: var(--off-white);
    text-decoration: none;
    font-size: 0.875rem;
  }
  
.navbar-item:hover {
    color: var(--primary-shade1);
    text-decoration: none;
}

.navbar-item.active {
    color: var(--primary-shade1);
    text-decoration: none;
}

.navbar-item > div {
    background-color: currentColor;
    margin-right: 1.05rem;
}

.navbar-logout-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 4rem;
}

/* temporary logout button */
.navbar-logout{
    color: var(--off-white) !important;
    text-decoration: none !important;
    cursor: pointer;
}

.navbar-logout:hover{
    color: var(--primary-shade1) !important;
    text-decoration: none !important;
}
